<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="header :: copy"></head>

<body>
	<h1>Add Post</h1>

	<form class="bg-gray" action="#" th:object="${addPostCriteria}" method="GET"
		  th:action="@{/posts/add/doadd}">

		<div class="row">
			<!- - Owner name field - ->
			<div class="form-group col-4">
				<label for="text" class="control-label col-xs-2">Subject</label>
				<input type="text" class="form-control" id="text"
					   th:field="*{subject}" placeholder="Enter subject"
					   style="width: 60em;" />
			</div>

		</div>

		<div class="row">
			<!- - Owner name field - ->
			<div class="form-group col-4">
				<label for="text" class="control-label col-xs-2">Body</label>
				<input type="text" class="form-control" id="text"
					   th:field="*{body}" placeholder="Enter body"
					   style="width: 60em;" />
			</div>

		</div>

		<!- -  Submit button - ->
		<div class="form-group">
			<div class="col-xs-offset-2 col-xs-10">
				<button type="submit" class="btn btn-primary">Add Post</button>
			</div>
		</div>
	</form>


	<li>Forum <a th:href="@{/posts/showall}">Check All Posts</a></li>


	<div th:replace="footer :: copy"></div>

</body>
</html>
