<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="header :: copy"></head>

<body>

	<h1>Microservices Demo - Web Server</h1>
	<h3>Overview</h3>
	<ul>
		<li>All the account information is fetched via a RESTful
			interface to a Accounts microservice.</li>
	</ul>

	<h3>Demo for searching by searching by Account number, Add new post and View all posts</h3>

	<ul class="openlist">

		<li>Fetch account #123456789 and Add new POST: <a th:href="@{/accounts/123456789}">/accounts/123456789</a></li>

		<li><a th:href="@{/accounts/search}">Search</a> by Account and Add new Post</li>

		<li>Post <a th:href="@{/posts/showall}">ShowAllPosts</a></li>
	</ul>

	<h3>Other URLs</h3>


	<ul>
		<li>Eureka Dashboard: <a
				href="http://localhost:1111">http://localhost:1111</a></li>
		<li>Check applications registered: <a
				href="http://localhost:1111/eureka/apps/">http://localhost:1111/eureka/apps/</a></li>

	</ul>

	<div th:replace="footer :: copy"></div>

</body>
</html>
