<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="header :: copy"></head>

<body>
	<h1>Forum</h1>


	<div th:if="${posts}">
		<p>
			Posts
		</p>

		<table class="table table-striped">
			<thead>
				<tr>
					<th>Threadid</th>
					<th>Subject</th>
					<th>Body</th>
					<th>AccountNumber</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="post : ${posts}">
					<td th:text="${post.threadid}">threadid</td>
					<td th:text="${post.subject}">subject</td>
					<td th:text="${post.body}">body</td>
					<td th:text="${post.accountnumber}">accountnumber</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div style="text-align: right">
		Options: <a th:href="@{/}">Home</a> | <a th:href="@{/accounts/search}">Account
			Search</a>
	</div>

	<div th:replace="footer :: copy"></div>
</body>
</html>
